// Базовые стили
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  text-size-adjust: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: $primary-font;
  font-weight: 400;
  font-style: normal;
}

.page-body {
  font-family: $primary-font;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
}

main {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  background: none;
}

.shadow-text::before {
  content: "";
  position: absolute;
  z-index: 2;
  opacity: 0.03;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  white-space: nowrap;
  pointer-events: none;
}
